body {
  background-image: url(wall.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

* {
  color: #F75D59;
}

#header {

  background-color: rgba(122, 109, 107, 0.4);
  width: 58em;
}

/* .table {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  background-color: rgba(122, 109, 107, 0.4);

} */


div#chat-box {
  background-color: rgba(122, 109, 107, 0.4);
   /* height: 300px;
  width: 100px;
   margin: 0; */
}

#chat-box .user-input {
   /* display: grid;  */
  border: 1px solid black;
}


/* .row {
  margin-left: 0;
  margin-right: 0;
} */

#chat-box div.user-input.row {
  border: 1px solid black;
  margin: 0;
}
