body {
  background-image: url(wall.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

* {
  color: rgb(247, 249, 249);
}

#header {
  background-color: rgba(122, 109, 107, 0.4);
  /* width: 58em; */
}

/* .table {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  background-color: rgba(122, 109, 107, 0.4);

} */


#chat-box {
  background-color: rgba(122, 109, 107, 0.4);
  height: 400px;
  /* width: 58em; */
  margin: 0;
  /* border: 1px solid black; */
  overflow-y: scroll;
  align-content: end;
}

.user-input {
  /* border: 1px solid black; */
  margin: 0;
}

.user-input:hover {
  background-color: rgb(128, 139, 150);
}

/* #chat-box div.user-input.row {
  border: 1px solid black;
} */
